<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>manchiApps - Digital Transformation solutions</title>
	<%_ currentPage = "" _%>
	<% include ./partials/metadata %>
	<link rel='stylesheet' href='<%= asset("css/style.min.css") %>' />
</head>
<body>
	<% include ./partials/nav %>

	<% include ./partials/header_launch_page %>

	<% include ./partials/what_we_do %>

	<!-- Expanded sections -->
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/agile.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Agile Mindset</h2>
					<p class="expanded__text">Agile Mindset is more about attitude and viewpoints. These include Respect, Collaboration, Improvement Cycle, Learning Cycle, Pride in Ownership, Focus on Delivering Value,  Ability to Adapt to Change.
						It is pragmatic and action-oriented more than a theoretical philosophy. Agile of course is more than mindset as it includes different values,
						principles, and practices but waht is important is the human intelligence, the sensibility, and the values that are driving those processes, practices, and systems.
				
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/open_source.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Open source technologies</h2>
					<p class="expanded__text">As many big companies are open sourcing their softwares why not utilize already developed, tested and ever evolving open sourced products.
						With the help of microservices we can easily plug and play with these technologies.
						We can help you using open source technoligies and make customised products.
						Its very cost effective way to transform you business for you digital strategy.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="./images/goals.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Don't jump straight in</h2>
					<p class="expanded__text">Don't jump straight in. Take a stratergic and wise decision. We help you to build rapid prototyping.
						These are very cost effective way of starting a project. 
						Then we make MVP(minimum viable product) so that it starts you journey of Digital Transformation. 
						After that when your company is adapted to the product we can enhance the product for growth of your company.
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Call To Action -->
	<div class="cta cta--reverse">
		<div class="container">
			<div class="cta__inner">
				<h2 class="cta__title">Get started now</h2>
				<a href="/services" class="button button__accent">Contact Us</a>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="footer footer--dark">
		<div class="container">
			<div class="footer__inner">
				<a href='/' class="footer__textLogo">manchi Apps</a>
				<div class="footer__data">
					<div class="footer__data__item">
					<div class="footer__row">
						<a href="https://github.com/mirzaMBaig" target="_blank" class="footer__link">GitHub</a>
					</div>
					<div class="footer__row">
						<a href="https://twitter.com/mmabaig18" target="_blank" class="footer__link">Twitter</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src='<%= asset("js/app.min.js") %>'></script>
</body>
</html>