	<!-- Hero unit -->
	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
			<div class="hero__inner">
				<div class="container">
					<div class="hero__content">
						<div class="hero__content__inner" id='navConverter'>
							<h1 class="hero__title">Digital Transformation </br>& Consulting Services</h1>
							<h2 class="hero__title--sub">We combine user experience, technology and data to create smart applications for your business</h2>
						</div> 
						<div class="hero__image__inner">
							<img class="hero__image_svg" alt="Digital Transformation women image" src="./images/main_image_heatmap.svg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>