	<!-- what we do -->
	<div class="steps landing__section">
		<div class="container">
			<h2>what we do</h2>
			<p>Here's who we can think of, but surely creative people will surprise us.</p>
		</div>
		<div class="container">
			<div class="steps__inner">
				<div class="step">
					<div class="step__media">
						<img src="./images/designer.svg" class="step__image">
					</div>
					<h2>software development</h2>
					<p class="step__text">We developed general softwares used by many companies.</p>
                </div>
                <div class="step">
					<div class="step__media">
						<img src="./images/user_experience.svg" class="step__image">
					</div>
					<h2>UI/UX design</h2>
                    <p class="step__text">Our UI/UX team designs user interfaces that are intutive and build a consistent user experience</p>
                </div>
				<div class="step">
					<div class="step__media">
						<img src="./images/sass.svg" class="step__image">
					</div>
					<h2>software as a service</h2>
                    <p class="step__text">We developed general softwares used by many companies.</p>
                </div>
            </div>
            <div class="steps__inner border-on">
                <div class="step">
                    <div class="step__media">
                        <img src="./images/cloud_hosting.svg" class="step__image">
                    </div>
                    <h2>lift and shift</h2>
                    <p class="step__text">Move your legacy applications to cloud</p>
                </div>
                <div class="step">
                    <div class="step__media">
                        <img src="./images/testing_done.svg" class="step__image">
                    </div>
                    <h2>software testing</h2>
                    <p class="step__text">We help your product in automation testing, QA and user acceptance testing</p>
                </div>
                <div class="step">
                    <div class="step__media">
                        <img src="./images/meet_the_team.svg" class="step__image">
                    </div>
                    <h2>talent management</h2>
                    <p class="step__text">We give access to our best resources and teams, when you need it</p>
                </div>
            </div>
		</div>
	</div>